.a-badge {
    height: 24px;
    display: inline-flex;
    align-items: center;
    background-color: $color-primary;
    color: $color-white;
    @include border-radius(12px);
    padding: 0 8px; // font-weight: $bold;
    font-size: 12px;
    font-weight: $bold;

    &.a-badge-secondary {
        color: $badge-text-dark;
        background-color: $badge-bg-secondary;
    }

    &.a-badge-light {
        color: $badge-text-light;
        background-color: $badge-bg-light;
    }

    &.a-badge-dark {
        color: $color-white;
        background-color: $badge-bg-dark;
    }

    &.a-badge-warnging {
        color: $badge-text-dark;
        background-color: $badge-bg-warning;
    }

    &.a-badge-danger {
        color: $color-white;
        background-color: $badge-bg-danger;
    }

    &.a-badge-success {
        color: $color-white;
        background-color: $badge-bg-success;
    }

    &.a-badge-info {
        color: $color-white;
        background-color: $badge-bg-info;
    }
}
