.a-loader-icon {
    left: 0;
    top: 0;
    display: inline-block;
    height: 16px;
    width: 16px;
    font-size: $pixel-10;
    position: relative;
    border-radius: 50%;
    border: 3px solid $primary-btn-bg;
    border-top: none !important;
    border-right: none;
    border-bottom: none;
    -webkit-animation: load3 0.3s infinite linear;
    animation: load3 0.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    &.a-loader-lg {
        height: 24px;
        width: 24px;
    }
    &.a-loader-white {
        border-color: $white;
    }
    &.a-loader-error {
        border-color: $state-error-color;
        ;
    }
    &.a-loader-gray {
        border-color: $dark-grey-text;
    }
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}