.a-pagination {
    display: flex;
    align-items: center;
    height: 34px;
    line-height: 34px;

    /*-------------------------------------------------------*
     * Common styles for children elements of pagination 
     * .page-link and .page-number
     *------------------------------------------------------*/
    .a-page {
        border-radius: 2px;
        background-color: $white;

        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    .a-page-number {
        color: #757575;
        font-size: 12px;
        padding: 0 10px 0 5px;
        display: flex;
        align-items: center;

        .a-current-page {
            color: $text-dark;
            background-color: #f5f5f5;
            height: 24px;
            line-height: 1;
            text-align: right;
            font-weight: 500;
            padding: 0 10px;
            border-radius: 2px;

            &:focus {
                box-shadow: 0 0 0 2px $color-primary;
            }
        }

        span {
            margin-left: 5px
        }
    }

    .a-page-link {
        font-size: 10px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #9e9e9e;
        cursor: pointer;

        &:not(.disabled):hover {
            background-color: #f5f5f5;
        }

        &:not(.disabled):active {
            background-color: #eeeeee;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }

    /*--------------------------------------------------------*
     * Dark version of pagination (by default is light version)
     *-------------------------------------------------------*/
    &.dark {
        .a-page {
            background-color: #eee;
        }

        .a-page-number {
            .a-current-page {
                background-color: $white;
            }
        }

        .a-page-link {
            color: #bdbdbd;

            &:not(.disabled):active {
                background-color: #e0e0e0;
            }
        }
    }

    /*--------------------------------------------------------*
     * Large version of pagination (by default is small)
     *-------------------------------------------------------*/
    &.a-lg {
        height: 50px;
        line-height: 50px;

        .a-page-link {
            width: 50px;
        }

        .a-page-number {
            padding: 0 10px;

            .a-current-page {
                height: 30px;
                font-size: 14px;
            }
        }
    }
}

.a-pagination-carousel {
    display: flex;
    align-items: center;

    >li {
        a {
            display: inline-block;
            padding: 0;
            background-color: #bdbdbd;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin-right: 5px;

            &.active {
                background: $color-primary;
            }
        }

        &:last-child {
            a {
                margin-right: 0;
            }
        }
    }

    &.a-lg {
        >li {
            a {
                width: 8px;
                height: 8px;
                margin-right: 10px;
            }
        }
    }
}
