@font-face {
    font-family: 'Neue Helvetica_n2';
    src: url('../fonts/418e7417-47f3-40a1-8817-519a566f9d82.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/418e7417-47f3-40a1-8817-519a566f9d82.eot?#iefix');
    src: url('../fonts/418e7417-47f3-40a1-8817-519a566f9d82.eot?#iefix') format('eot'),
        url('../fonts/02b3f97a-406d-43cb-885c-ba5233577cad.woff2') format('woff2'),
        url('../fonts/cad33bbd-bbf2-423b-98c5-51136c054e14.woff') format('woff'),
        url('../fonts/22c6282d-e7aa-406b-89dc-5176916a9c44.ttf') format('truetype');
    font-weight: 275;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i2';
    src: url('../fonts/4f3d7691-d157-41f4-b963-4aa70f86eb0c.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/4f3d7691-d157-41f4-b963-4aa70f86eb0c.eot?#iefix');
    src: url('../fonts/4f3d7691-d157-41f4-b963-4aa70f86eb0c.eot?#iefix') format('eot'),
        url('../fonts/55c3407d-2666-44fd-b212-634b054732e3.woff2') format('woff2'),
        url('../fonts/30b41336-bfb6-41a0-8e73-335d66b0ec31.woff') format('woff'),
        url('../fonts/506d1142-eb54-4c47-a852-534eda4c1c54.ttf') format('truetype');
    font-weight: 275;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n2';
    src: url('../fonts/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix');
    src: url('../fonts/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix') format('eot'),
        url('../fonts/7d63ccf8-e0ae-4dee-ad4d-bbc798aa5803.woff2') format('woff2'),
        url('../fonts/b2c1327f-ab3d-4230-93d7-eee8596e1498.woff') format('woff'),
        url('../fonts/922917a9-4ca8-4c0b-b1bb-417b6ff0210e.ttf') format('truetype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i2';
    src: url('../fonts/34e40c5d-d59d-4acd-b71f-a263d0b660e6.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/34e40c5d-d59d-4acd-b71f-a263d0b660e6.eot?#iefix');
    src: url('../fonts/34e40c5d-d59d-4acd-b71f-a263d0b660e6.eot?#iefix') format('eot'),
        url('../fonts/2a7e8f89-c0b2-4334-9c34-7a2078d2b959.woff2') format('woff2'),
        url('../fonts/32aad9d8-5fec-4b9d-ad53-4cf7a5b53698.woff') format('woff'),
        url('../fonts/d38219c6-3141-463b-bad2-4626f8405be7.ttf') format('truetype');
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n3';
    src: url('../fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix');
    src: url('../fonts/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix') format('eot'),
        url('../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2') format('woff2'),
        url('../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff') format('woff'),
        url('../fonts/fdf10d5e-4ce0-45e5-a6c1-5eaff6cb1c11.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i3';
    src: url('../fonts/99531fe3-1c8b-4966-a5e0-c17d164113c0.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/99531fe3-1c8b-4966-a5e0-c17d164113c0.eot?#iefix');
    src: url('../fonts/99531fe3-1c8b-4966-a5e0-c17d164113c0.eot?#iefix') format('eot'),
        url('../fonts/5e4f385b-17ff-4d27-a63a-9ee28546c9a8.woff2') format('woff2'),
        url('../fonts/116cde47-4a07-44a5-9fac-cbdcc1f14f79.woff') format('woff'),
        url('../fonts/dfce121b-01a2-4997-acf0-8cf3bcaf68d6.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n4';
    src: url('../fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix');
    src: url('../fonts/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix') format('eot'),
        url('../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2') format('woff2'),
        url('../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff') format('woff'),
        url('../fonts/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i4';
    src: url('../fonts/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix');
    src: url('../fonts/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix') format('eot'),
        url('../fonts/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2') format('woff2'),
        url('../fonts/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff') format('woff'),
        url('../fonts/c07fd9e2-5e0b-4297-9229-af0c8e331d94.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n5';
    src: url('../fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix');
    src: url('../fonts/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix') format('eot'),
        url('../fonts/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2') format('woff2'),
        url('../fonts/7802e576-2ffa-4f22-a409-534355fbea79.woff') format('woff'),
        url('../fonts/14d824a2-2a5c-4692-8e30-74f6e177b675.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i5';
    src: url('../fonts/46116ca7-5e49-4a08-9af4-07e7182ce7fd.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/46116ca7-5e49-4a08-9af4-07e7182ce7fd.eot?#iefix');
    src: url('../fonts/46116ca7-5e49-4a08-9af4-07e7182ce7fd.eot?#iefix') format('eot'),
        url('../fonts/de68be2a-5d0e-4b8d-b3eb-940f75503e2a.woff2') format('woff2'),
        url('../fonts/31029e78-79a0-4940-b82d-2e3c238e1355.woff') format('woff'),
        url('../fonts/a8860880-ef55-430f-b420-eccd71f67b19.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n7';
    src: url('../fonts/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix');
    src: url('../fonts/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix') format('eot'),
        url('../fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2') format('woff2'),
        url('../fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff') format('woff'),
        url('../fonts/f07c25ed-2d61-4e44-99ab-a0bc3ec67662.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i7';
    src: url('../fonts/ae7ba1a5-8e73-4170-81ae-a7d26629e728.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/ae7ba1a5-8e73-4170-81ae-a7d26629e728.eot?#iefix');
    src: url('../fonts/ae7ba1a5-8e73-4170-81ae-a7d26629e728.eot?#iefix') format('eot'),
        url('../fonts/13ab58b4-b5ba-4c95-afde-ab2608fbbbd9.woff2') format('woff2'),
        url('../fonts/5018b5b5-c821-4653-bc74-d0b11d735f1a.woff') format('woff'),
        url('../fonts/c20f44a1-784c-4d3f-8d7f-aee889b6a7ae.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n7';
    src: url('../fonts/80e123ee-1929-41ec-bf6a-77f92f0d53fe.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/80e123ee-1929-41ec-bf6a-77f92f0d53fe.eot?#iefix');
    src: url('../fonts/80e123ee-1929-41ec-bf6a-77f92f0d53fe.eot?#iefix') format('eot'),
        url('../fonts/7e42a406-9133-48c0-a705-4264ac520b43.woff2') format('woff2'),
        url('../fonts/837750e9-3227-455d-a04e-dc76764aefcf.woff') format('woff'),
        url('../fonts/cbb49e47-093c-4029-b64c-b5ee08064205.ttf') format('truetype');
    font-weight: 750;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i7';
    src: url('../fonts/1be05894-26dd-4ade-91b4-b50e43d62c83.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/1be05894-26dd-4ade-91b4-b50e43d62c83.eot?#iefix');
    src: url('../fonts/1be05894-26dd-4ade-91b4-b50e43d62c83.eot?#iefix') format('eot'),
        url('../fonts/0acba88f-0de4-4d43-81fd-920d7427f665.woff2') format('woff2'),
        url('../fonts/713c9c40-9cbd-4276-819e-d0efaf5d3923.woff') format('woff'),
        url('../fonts/b747296b-72be-4443-99e0-8f388100ced0.ttf') format('truetype');
    font-weight: 750;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Helvetica_n9';
    src: url('../fonts/4cc8f5da-4e24-4929-8efb-866ffcb1fe7e.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/4cc8f5da-4e24-4929-8efb-866ffcb1fe7e.eot?#iefix');
    src: url('../fonts/4cc8f5da-4e24-4929-8efb-866ffcb1fe7e.eot?#iefix') format('eot'),
        url('../fonts/93ce67e5-64e3-4a99-99a3-545f20c5beec.woff2') format('woff2'),
        url('../fonts/96b3a113-3e18-46f9-b6e3-5bdee7288b20.woff') format('woff'),
        url('../fonts/556d95c6-2352-4272-9422-83d53f66cfa3.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Helvetica_i9';
    src: url('../fonts/283fd2a2-0079-40b4-999f-d34f38e7afaa.eot?#iefix') format('eot');
}

@font-face {
    font-family: 'Neue Helvetica';
    src: url('../fonts/283fd2a2-0079-40b4-999f-d34f38e7afaa.eot?#iefix');
    src: url('../fonts/283fd2a2-0079-40b4-999f-d34f38e7afaa.eot?#iefix') format('eot'),
        url('../fonts/995add04-59cc-41ea-abd2-4712eaddf2a8.woff2') format('woff2'),
        url('../fonts/7090e465-f6bf-4664-8b5a-d877a6915d87.woff') format('woff'),
        url('../fonts/e6a63373-d060-4e43-a4e0-3cddad6b6ef9.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
