/*------------------------------------------------------------*
color vars
*------------------------------------------------------------*/
//initial colors
/**orange**/
$color-orange-darker:#571F01;
$color-orange-dark:#933401;
$color-orange: #d04a02;
$color-orange-light: #FD6412;
$color-orange-lighter:#FEB791;
/**Tangerine**/
$color-tangerine-darker:#714300;
$color-tangerine-dark:#AE6800;
$color-tangerine: #EB8C00;
$color-tangerine-light: #FFA929;
$color-tangerine-lighter:#FFDCA9;
/**Yellow**/
$color-yellow-darker:#855F00;
$color-yellow-dark:#C28A00;
$color-yellow: #FFB600;
$color-yellow-light: #ffc83d;
$color-yellow-lighter:#ffecbd;
/**Red**/
$color-red-darker:#741940;
$color-red-dark:#AA2417;
$color-red: #e0301e;
$color-red-light: #e86153;
$color-red-lighter:#f7c8c4;
/**Rose**/
$color-rose-darker:#6e2a35;
$color-rose-dark:#a43e50;
$color-rose: #d93954;
$color-rose-light: #e27588;
$color-rose-lighter:#f1bac3;
/**Grey**/
$color-grey-darker:#141414;
$color-grey-dark:#2D2D2D;
$color-grey-medium:#464646;
$color-grey: #7d7d7d;
$color-grey-light: #DEDEDE;
$color-grey-lighter:#F2F2F2;
/**Purple**/
$color-purple-darker:#4b20ab;
$color-purple-dark:#6b2cda;
$color-purple: #8e34f4;
$color-purple-light: #b056f6;
$color-purple-lighter:#dcb4fc;
/**Blue**/
$color-blue-darker:#003dab;
$color-blue-dark:#0060d7;
$color-blue: #0089eb;
$color-blue-light: #4dacf1;
$color-blue-lighter:#b3dcf9;
/**Green**/
$color-green-darker:#175c2c;
$color-green-dark:#2c8646;
$color-green: #4eb523;
$color-green-light: #86db4f;
$color-green-lighter:#c4fc9f;

//initial status colors
$color-status-red:#c52a1a;
$color-status-yellow:#ffbf1f;
$color-status-green:#22992e;

//initial brand colors
$color-brand-orange:$color-orange;
$color-brand-rose:$color-rose;
$color-brand-red:$color-red;
$color-brand-yellow:$color-yellow;
$color-brand-tangerine:$color-tangerine;

//initial colors two
$color-error: $color-red;
$color-primary-hover: #d96928;
$color-primary-press: #b04000;
$color-second-primary: #c62b12;
$color-second-primary-hover: #cf4d38;
$color-second-primary-press: #a6240f;
$color-secondary-hover: rgba(237, 184, 152, 0.16);
$color-secondary-press: rgba(237, 184, 152, 0.31);
$color-secondary-error-hover: rgba(221, 128, 117, 0.16);
$color-secondary-error-press: rgba(221, 128, 117, 0.31);
$color-warning-secondary: #ffc100; //needs to check if we need this color
$color-info-purple: #5d67c2;
$color-757: #757575;
$color-9e9: #9e9e9e;
$color-bdb: #bdbdbd;
$color-f5f: #f5f5f5;
$color-eee: #eeeeee;
$color-e0e: #e0e0e0;
$color-616: #616161;
$color-faf: #fafafa;
$color-e49: #e49364;
$color-49a: #49ae54;
$color-212: #212121;
$color-f2f: #f2f2f2;
$color-d8d: #d8d8d8;
$color-df5: #df536f;
$color-edb: #edb898;


//theme color
$color-primary: #FA5927;
$color-secondary:#e0e0e0;
$color-success:$color-status-green;
$color-danger:$color-status-red;
$color-warning:$color-status-yellow;
$color-info:#de536f;
$color-light:#eeeeee;
$color-dark:#424242;
$color-white: #ffffff;
$white: $color-white;
$text-white: $color-white;
//state colors
$state-warning-color: $color-warning;
$state-info-color: $color-info;
$state-error-color: $color-danger;
$state-negative-color: $color-danger;
$state-success-color: $color-success;
//text colors
$text-dark:$color-dark;
$text-gray: #333333;
$text-gray-lighter: #666666;
$text-gray-lightest: #999999;
//button color vars
$btn-primary:$color-primary;
$btn-primary-hover:#d83a21;
$btn-primary-press:#b04000;
$btn-disabled:#bdbdbd;
$btn-negative:#c62b12;
$btn-negative-press:#a6240f;
$btn-gray-text:$color-dark;
$btn-gray-hover:#eeeeee;
$btn-gray-press:#e0e0e0;
//badge color vars
$badge-bg-secondary: $color-secondary;
$badge-bg-info: $color-info;
$badge-bg-warning: $color-warning;
$badge-bg-dark: $color-dark;
$badge-bg-light:$color-light;
$badge-bg-success:$color-success;
$badge-bg-danger:$color-danger;
$badge-text-dark:$color-dark;
$badge-text-light:#9e9e9e;
//field color vars
$field-focus-border:$color-primary;
$field-primary-bg:#f5f5f5;
$field-icon-color:#bdbdbd;
$field-icon-hover:#616161;
$field-icon-hover2:#f5f5f5;
$field-icon-orange:$color-primary;
$field-error-color:$color-danger;
//tab color vars
$tab-default-border:#f5f5f5;
$tab-graybg-border:#e0e0e0;
$tab-text-color:#9e9e9e;
$tab-dark:$color-dark;
$border-gray:$color-d8d;
$nav-background:$tab-dark;
$gray-lighter:$text-gray-lighter;
$gray:$text-gray;
//breadcrumb vars
$breadcrumb-border:#eeeeee;
$breadcrumb-graybg-border:#e0e0e0;
$breadcrumb-divider:#e0e0e0;
//modal vars
$modal-border:#e8e9e9;
$modal-close-btn:#9e9e9e;
//tags vars
$tag-color-e49:#e49364;
$tag-color-da6:#da6f2f;
$tag-color-light:#eeeeee;
$tag-color-df5:$color-df5;
$tag-color-warning:$color-warning-secondary;
$tag-color-success: #159b25;
$tag-color-df5-opacity:rgba(223, 83, 111, 0.1);
$tag-color-primary-opacity:rgba(209, 76, 0, 0.1);
$tag-color-warning-opacity:rgba(255, 193, 0, 0.1);
$tag-color-d2e:#d2ecd4;
$tag-color-f3d:#f3d4d1;
$tag-color-fff:#fff3d1;
$tag-color-d3f:#d3f4f8;
$tag-color-e5d:#e5dcf4;
$tag-color-1bc:#1bc5db;
$tag-color-805:#8052c4;
$tag-color-1da:#1da69a;
$tag-color-25b:#25b4f8;
$tag-color-805-opacity:rgba(128, 82, 196, 0.16);
//button vars
$primary-btn-bg: $color-primary;
$primary-btn-hover: #d96928;
$primary-btn-active: #b04000;
$primary-disabled-btn-bg: #eeeeee;
$primary-disabled-btn-text: #9e9e9e;
$secondary-btn-border: #e49364;
$secondary-btn-hover: rgba(237, 184, 152, 0.16);
$secondary-btn-active: rgba(237, 184, 152, 0.31);
$secondary-disabled-btn-text: #bdbdbd;
$secondary-disabled-btn-border: #e0e0e0;
//progress vars
$progress-dark: $color-dark;
/*------------------------------------------------------------*
font weigth vars
*------------------------------------------------------------*/
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$bold: 700 !default;
/*------------------------------------------------------------*
transition vars
*------------------------------------------------------------*/
$transition-all: all 0.25s cubic-bezier(0.51, 0.51, 0.85, 0.85) 0s;
$transition-color: color 0.25s ease;
/*------------------------------------------------------------*
box shadow vars
*------------------------------------------------------------*/
$box-shadow-default: 0 1px 2px 1px rgba(0, 0, 0, 0.08);
$box-shadow-small: 0 3px 7px 1px rgba(0, 0, 0, 0.16);
$box-shadow-medium: 0 7px 18px 1px rgba(0, 0, 0, 0.16);
$box-shadow-large: 0 18px 29px 1px rgba(0, 0, 0, 0.16);
/*------------------------------------------------------------*
transition vars
*------------------------------------------------------------*/
$transition-all: all 0.25s cubic-bezier(0.51, 0.51, 0.85, 0.85) 0s;
$transition-color: color 0.25s ease;
/*------------------------------------------------------------*
other vars
*------------------------------------------------------------*/
$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;
$gray-lightest: #999999;
$shadow-gray: #d8d8d8;
$state-negative-hover: #cf4d38;
$state-negative-active: #a6240f;
$dark-grey-text: #424242;
$bg-light-grey: #f5f5f5;
$background-lightgray: #e0e0e0;
$state-negative-border: #dd8075;
$state-negative-secondary-hover: rgba(221, 128, 117, 0.16);
$state-negative-secondary-active: rgba(221, 128, 117, 0.31);
$hallow-grey-bg: #757575;
$fill-white: $white;
